@import 'variables';

// --------------------------------------------------------------
// Navigation Bar SCSS.
// --------------------------------------------------------------

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 74px;
    height: 80.5vh; // change this
    background-color: #fff;
    padding: 24px 0px;
    border-right: 1px solid $color-gray;
    position: sticky;
    top: 85px;
    left: 0;
    z-index: 1000;
    #nav-bar-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0%;
        gap: 16px;
        width: 100%;
    }
    .nav-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 44px;
        cursor: pointer;
        img {
            width: 20px;
            height: 20px;
        }
    }
}

.selected-nav-item {
    background-color: #e5f7ff;
}

.nav-item:not(.selected-nav-item):hover {
    img,
    p {
        filter: invert(38%) sepia(98%) saturate(1357%) hue-rotate(191deg)
            brightness(101%) contrast(101%);
    }
}

// --------------------------------------------------------------
// Tool Bar SCSS.
// --------------------------------------------------------------

#tool-bar {
    width: 100%;
    min-height: 84px;
    max-height: 84px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-gray;
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow-y: visible;
    #tool-bar-header {
        margin-left: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            cursor: pointer;
        }
    }
    #tool-bar-item {
        width: 150px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 50px;
    }
    #tool-bar-profile {
        width: 102px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        p {
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            color: black;
        }
    }
    #profile-avi {
        cursor: pointer;
    }
}

// --------------------------------------------------------------
// Action Bar SCSS.
// --------------------------------------------------------------

#action-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    h2 {
        margin-left: 24px;
        color: $color-light-black-85;
        font-size: 30px;
        font-weight: 600;
    }
    #action-bar-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;
        width: 560px;
        height: 100%;
        margin-right: 24px;
        #action-bar-filter,
        #action-bar-sort {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            background-color: #fff;
            border: 1px solid $color-gray;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            cursor: pointer;
            &:hover {
                border-color: $color-blue;
                outline: none;
                box-shadow: 0 0 5px 1px rgba($color: $color-blue, $alpha: 0.4);
            }
        }
    }
}

.custom-button-size {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-button {
    margin-right: 16px;
}

#action-bar-hr {
    width: 96%;
    height: 1px;
    background-color: $color-gray;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
}

// --------------------------------------------------------------
// Card SCSS.
// --------------------------------------------------------------

.card {
    width: 260px;
    height: fit-content;
    max-height: 440px;
    box-sizing: border-box;
    cursor: grab;
    .card-container {
        box-shadow: 4px 4px 0px 1px $color-blue;
        height: 100%;
        width: 260px;
        padding: 18px 24px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 18px;
        background-color: #fff;
        border: 1px solid $color-light-gray;
        box-sizing: border-box;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        .card-bottom-space {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }
        .card-info-settings {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .card-categories {
                display: flex;
                flex-direction: row;
                width: 80%;
                height: 100%;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                .category {
                    width: fit-content;
                    height: 26px;
                    padding: 3px 12px;
                    color: #000;
                    background-color: $color-light-gray;
                    border-radius: 6px;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    -ms-border-radius: 6px;
                    -o-border-radius: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    font-weight: 400;
                    cursor: text;
                    user-select: text;
                }
                .category-input {
                    width: 100%;
                }
            }
            .card-settings {
                width: fit-content;
                cursor: pointer;
            }
        }
        .card-body {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;
            .card-title {
                width: 100%;
                font-size: 16px;
                font-weight: 500;
                color: black;
                line-height: 24px;
                text-align: start;
                user-select: text;
                cursor: text;
                word-wrap: break-word;
                overflow-wrap: break-word;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            .card-description {
                width: 100%;
                height: 100%;
                font-size: 14px;
                font-weight: 400;
                color: black;
                line-height: 22px;
                text-align: start;
                user-select: text;
                cursor: text;
                word-wrap: break-word;
                overflow-wrap: break-word;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
            }
        }
    }
}

.expanded {
    max-height: 1000px;
    .card-description,
    .card-title {
        -webkit-line-clamp: 100000 !important;
    }
}

.card-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    input,
    .ant-select-selection-item {
        color: $color-light-black-45 !important;
        &::placeholder {
            color: $color-light-black-45 !important;
        }
    }
}

.ant-select-selection-placeholder {
    color: $color-light-black-45 !important;
}

.border {
    border: 1px solid $color-gray;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 1px 4px;
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    cursor: text;
    user-select: text;
    p {
        margin: 0%;
        color: $color-light-black-45;
        span {
            color: $color-light-black-85;
        }
    }
}

.no-pointer {
    cursor: default;
}

.card-bottom-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.textarea-new-task-title {
    font-family: Inter;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    resize: none;
    border: none;
    outline: none;
    color: $color-light-black-85;
    line-height: 24px;
    text-align: start;
    border-bottom: 1px solid #000;
    width: fit-content;
    &::placeholder {
        color: $color-light-black-25;
    }
}

.textarea-new-task-desc {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    background-color: transparent;
    resize: none;
    border: none;
    outline: none;
    color: $color-light-black-85;
    line-height: 22px;
    &::placeholder {
        color: $color-light-black-25;
    }
}

#hide-show-icon-cat {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.read-more {
    width: fit-content;
    div {
        button {
            span {
                color: #909090 !important;
            }
        }
    }
}

.default-priority {
    box-shadow: 4px 4px 0px 1px $color-blue !important;
}
.low-priority {
    box-shadow: 4px 4px 0px 1px $color-green !important;
}
.medium-priority {
    box-shadow: 4px 4px 0px 1px $color-yellow !important;
}
.high-priority {
    box-shadow: 4px 4px 0px 1px $color-red !important;
}
.default-priority-btn {
    background-color: $color-blue !important;
    color: #fff !important;
    border: 1px solid $color-blue !important;
    &:hover {
        border: 1px solid $color-blue !important;
        color: white !important;
    }
}
.low-priority-btn {
    background-color: $color-green !important;
    color: #fff !important;
    border: 1px solid $color-green !important;
    &:hover {
        border: 1px solid $color-green !important;
        color: white !important;
    }
}
.medium-priority-btn {
    background-color: $color-yellow !important;
    color: #fff !important;
    border: 1px solid $color-yellow !important;
    &:hover {
        border: 1px solid $color-yellow !important;
        color: white !important;
    }
}
.high-priority-btn {
    background-color: $color-red !important;
    color: #fff !important;
    border: 1px solid $color-red !important;
    &:hover {
        border: 1px solid $color-red !important;
        color: white !important;
    }
}

// --------------------------------------------------------------
// Filter SCSS.
// --------------------------------------------------------------

#filters-container {
    user-select: none;
    width: 220px;
    height: fit-content;
    min-height: 600px;
    box-shadow: 0px 4px 4px 0px $color-light-black-25;
    padding: 8px 12px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    #filters-header {
        width: 100%;
        border-bottom: 1px solid $color-gray;
        p {
            margin: 0%;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            color: $color-light-black-85;
        }
    }
    #filters-content {
        width: 100%;
        .filter-item-container {
            width: 100%;
            .filter-item-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
                height: 42px;
                padding: 0px 12px;
                box-sizing: border-box;
                p {
                    margin: 0%;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                    color: $color-blue;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            #status-sub,
            #categories-sub,
            #due-sub {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-top: 6px;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-in-out;
                -webkit-transition: max-height 0.2s ease-in-out;
                -moz-transition: max-height 0.2s ease-in-out;
                -ms-transition: max-height 0.2s ease-in-out;
                -o-transition: max-height 0.2s ease-in-out;
                .filter-item {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    background-color: $color-background;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 400;
                    padding-left: 48px;
                    box-sizing: border-box;
                    color: $color-light-black-85;
                    height: 40px;
                    &:hover {
                        cursor: pointer;
                    }
                    p {
                        margin: 0%;
                    }
                }
            }
        }
    }
    #filter-buttons {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        gap: 6px;
        div {
            width: 100%;
        }
        .filter-button {
            width: 100% !important;
        }
    }
}

.filter-selected {
    color: $color-blue !important;
    background-color: #e6f7ff !important;
    border-right: 3px solid $color-blue !important;
}

.show-class {
    max-height: 126px !important;
}

.hide-filters {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}

.visibility-hidden {
    visibility: hidden !important;
}
