@import 'variables';

// --------------------------------------------------------------
// Main SCSS.
// --------------------------------------------------------------

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: var(--color-background);
    color: black;
    width: 100%;
    height: fit-content;
    min-height: 100%;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh !important;
    width: 100%;
}

#root {
    min-height: 100vh !important;
    width: 100%;
    background-color: var(--color-background);
    img {
        user-select: none;
        -webkit-user-drag: none;
    }
}

.pointer {
    cursor: pointer;
}

.rotate {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#login-btn-container {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    button {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &:nth-child(1) {
            svg {
                width: 16px;
                height: 16px;
            }
        }
        &:nth-child(2) {
            svg {
                width: 16px;
                height: 16px;
                color: white;
            }
        }
    }
}

.ant-message-notice-content {
    background-color: var(--color-blue) !important;
    .feedback-msg {
        color: #fff;
        span {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.no-scroll {
    overflow: hidden;
}
