#home-body,
#placeholder-body,
#search-body,
#profile-settings-body,
#login-body,
#not-found-body,
#register-body,
#forgot-password-body,
#task-body,
#loading-body,
#terms-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#home-body #home-content,
#home-body #placeholder-content,
#home-body #search-content,
#home-body #profile-settings-content,
#home-body #login-content,
#home-body #not-found-content,
#home-body #register-content,
#home-body #forgot-password-content,
#home-body #task-content,
#home-body #loading-content,
#home-body #terms-content,
#placeholder-body #home-content,
#placeholder-body #placeholder-content,
#placeholder-body #search-content,
#placeholder-body #profile-settings-content,
#placeholder-body #login-content,
#placeholder-body #not-found-content,
#placeholder-body #register-content,
#placeholder-body #forgot-password-content,
#placeholder-body #task-content,
#placeholder-body #loading-content,
#placeholder-body #terms-content,
#search-body #home-content,
#search-body #placeholder-content,
#search-body #search-content,
#search-body #profile-settings-content,
#search-body #login-content,
#search-body #not-found-content,
#search-body #register-content,
#search-body #forgot-password-content,
#search-body #task-content,
#search-body #loading-content,
#search-body #terms-content,
#profile-settings-body #home-content,
#profile-settings-body #placeholder-content,
#profile-settings-body #search-content,
#profile-settings-body #profile-settings-content,
#profile-settings-body #login-content,
#profile-settings-body #not-found-content,
#profile-settings-body #register-content,
#profile-settings-body #forgot-password-content,
#profile-settings-body #task-content,
#profile-settings-body #loading-content,
#profile-settings-body #terms-content,
#login-body #home-content,
#login-body #placeholder-content,
#login-body #search-content,
#login-body #profile-settings-content,
#login-body #login-content,
#login-body #not-found-content,
#login-body #register-content,
#login-body #forgot-password-content,
#login-body #task-content,
#login-body #loading-content,
#login-body #terms-content,
#not-found-body #home-content,
#not-found-body #placeholder-content,
#not-found-body #search-content,
#not-found-body #profile-settings-content,
#not-found-body #login-content,
#not-found-body #not-found-content,
#not-found-body #register-content,
#not-found-body #forgot-password-content,
#not-found-body #task-content,
#not-found-body #loading-content,
#not-found-body #terms-content,
#register-body #home-content,
#register-body #placeholder-content,
#register-body #search-content,
#register-body #profile-settings-content,
#register-body #login-content,
#register-body #not-found-content,
#register-body #register-content,
#register-body #forgot-password-content,
#register-body #task-content,
#register-body #loading-content,
#register-body #terms-content,
#forgot-password-body #home-content,
#forgot-password-body #placeholder-content,
#forgot-password-body #search-content,
#forgot-password-body #profile-settings-content,
#forgot-password-body #login-content,
#forgot-password-body #not-found-content,
#forgot-password-body #register-content,
#forgot-password-body #forgot-password-content,
#forgot-password-body #task-content,
#forgot-password-body #loading-content,
#forgot-password-body #terms-content,
#task-body #home-content,
#task-body #placeholder-content,
#task-body #search-content,
#task-body #profile-settings-content,
#task-body #login-content,
#task-body #not-found-content,
#task-body #register-content,
#task-body #forgot-password-content,
#task-body #task-content,
#task-body #loading-content,
#task-body #terms-content,
#loading-body #home-content,
#loading-body #placeholder-content,
#loading-body #search-content,
#loading-body #profile-settings-content,
#loading-body #login-content,
#loading-body #not-found-content,
#loading-body #register-content,
#loading-body #forgot-password-content,
#loading-body #task-content,
#loading-body #loading-content,
#loading-body #terms-content,
#terms-body #home-content,
#terms-body #placeholder-content,
#terms-body #search-content,
#terms-body #profile-settings-content,
#terms-body #login-content,
#terms-body #not-found-content,
#terms-body #register-content,
#terms-body #forgot-password-content,
#terms-body #task-content,
#terms-body #loading-content,
#terms-body #terms-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
#home-body #placeholder-main,
#placeholder-body #placeholder-main,
#search-body #placeholder-main,
#profile-settings-body #placeholder-main,
#login-body #placeholder-main,
#not-found-body #placeholder-main,
#register-body #placeholder-main,
#forgot-password-body #placeholder-main,
#task-body #placeholder-main,
#loading-body #placeholder-main,
#terms-body #placeholder-main {
    width: 100%;
    height: 100%;
    padding-bottom: 52px;
}

.hovered {
    transition: height 0.3s ease;
}

.show-filter-container {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.hide-filter-container {
    transform: translateX(-266px);
    -webkit-transform: translateX(-266px);
    -moz-transform: translateX(-266px);
    -ms-transform: translateX(-266px);
    -o-transform: translateX(-266px);
}

#home-main {
    width: 100%;
    height: 100%;
    padding-bottom: 52px;
}
#home-main #home-main-content {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    width: calc(100% - 24px);
    margin-left: 24px;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out;
    -ms-transition: -ms-transform 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out;
    transform-origin: left center;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
}
#home-main #home-main-content #columns-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 322px);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 24px;
}
#home-main #home-main-content #columns-container .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px;
    width: 290px;
    gap: 10px;
    max-height: 700px;
    height: 700px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    min-height: 700px;
    transition: height 0.3s ease-in-out;
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    background-color: var(--color-light-gray);
}
#home-main #home-main-content #columns-container .column .cards-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 260px;
}
#home-main
    #home-main-content
    #columns-container
    .column
    .cards-status
    .image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#home-main
    #home-main-content
    #columns-container
    .column
    .cards-status
    .image-container
    img {
    cursor: pointer;
}
#home-main #home-main-content #columns-container .column .cards-status p {
    margin: 0%;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
#home-main #home-main-content #columns-container .column .cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 24px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#home-main
    #home-main-content
    #columns-container
    .column
    .cards::-webkit-scrollbar {
    display: none;
}

#search-main {
    width: 100%;
    height: 100%;
    padding-bottom: 52px;
}
#search-main #search-main-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    margin-top: 24px;
    width: calc(100% - 24px);
    margin-left: 24px;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out;
    -ms-transition: -ms-transform 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out;
    transform-origin: left center;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
}
#search-main #search-main-content #result-items {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-gap: 24px;
}

.show-filter-container-srch {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.hide-filter-container-srch {
    transform: translateX(-266px);
    -webkit-transform: translateX(-266px);
    -moz-transform: translateX(-266px);
    -ms-transform: translateX(-266px);
    -o-transform: translateX(-266px);
}

#not-found-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#not-found-main #not-found-main-content {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
#not-found-main #not-found-main-content h2 {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-light-black-85);
    margin: 0%;
    margin-top: 52px;
}
#not-found-main #not-found-main-content p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-light-black-45);
    margin: 0%;
    width: 300px;
    text-align: center;
}

#login-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#login-main #login-main-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login-main #login-main-content form {
    box-shadow: 0 4px 12px var(--color-blue);
    border: 1px solid var(--color-blue);
    padding: 24px;
    width: fit-content;
    box-sizing: border-box;
    min-width: 500px;
    margin-top: 50px;
    background-color: white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
#login-main
    #login-main-content
    .ant-form-item-control-input
    input:-webkit-autofill,
#login-main
    #login-main-content
    .ant-form-item-control-input
    input:-webkit-autofill:hover,
#login-main
    #login-main-content
    .ant-form-item-control-input
    input:-webkit-autofill:focus {
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s;
}
#login-main .login-form-forgot {
    float: right;
}
#login-main .ant-col-rtl .login-form-forgot {
    float: left;
}
#login-main .login-form-button {
    width: 100% !important;
    margin-bottom: 14px;
}
#login-main
    .ant-divider.css-dev-only-do-not-override-byeoj0.ant-divider-horizontal.ant-divider-with-text.ant-divider-with-text-center {
    margin-top: 0% !important;
}

#forgot-password-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#forgot-password-main #forgot-password-main-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#forgot-password-main #forgot-password-main-content form {
    box-shadow: 0 4px 12px var(--color-blue);
    border: 1px solid var(--color-blue);
    padding: 24px;
    width: fit-content;
    box-sizing: border-box;
    min-width: 500px;
    margin-top: 50px;
    background-color: white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
#forgot-password-main
    #forgot-password-main-content
    form
    #forgot-back-login-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#forgot-password-main
    #forgot-password-main-content
    form
    #forgot-back-login-container
    #forgot-back-login {
    cursor: pointer;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#forgot-password-main
    #forgot-password-main-content
    form
    #forgot-back-login-container
    #forgot-back-login
    p {
    margin-left: 8px;
}
#forgot-password-main
    #forgot-password-main-content
    .ant-form-item-control-input
    input:-webkit-autofill,
#forgot-password-main
    #forgot-password-main-content
    .ant-form-item-control-input
    input:-webkit-autofill:hover,
#forgot-password-main
    #forgot-password-main-content
    .ant-form-item-control-input
    input:-webkit-autofill:focus {
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s;
}
#forgot-password-main .ant-col-rtl .login-form-forgot {
    float: left;
}
#forgot-password-main .forgot-password-form-button {
    width: 100% !important;
    margin-bottom: 14px;
}
#forgot-password-main
    .ant-divider.css-dev-only-do-not-override-byeoj0.ant-divider-horizontal.ant-divider-with-text.ant-divider-with-text-center {
    margin-top: 0% !important;
}

#register-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#register-main #register-main-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#register-main #register-main-content form {
    box-shadow: 0 4px 12px var(--color-blue);
    border: 1px solid var(--color-blue);
    padding: 24px;
    width: fit-content;
    box-sizing: border-box;
    min-width: 500px;
    margin-top: 50px;
    background-color: white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#register-main #register-main-content form h2 {
    width: 100%;
    text-align: center;
}
#register-main
    #register-main-content
    .ant-form-item-control-input
    input:-webkit-autofill,
#register-main
    #register-main-content
    .ant-form-item-control-input
    input:-webkit-autofill:hover,
#register-main
    #register-main-content
    .ant-form-item-control-input
    input:-webkit-autofill:focus {
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s;
}
#register-main #register-main-content .ant-form-item {
    margin-bottom: 16px;
    width: 100% !important;
}
#register-main #register-main-content .ant-form-item-label {
    text-align: left;
}
#register-main #register-main-content .ant-form-item-control-input {
    width: 100% !important;
}
#register-main #register-main-content .ant-form-item-explain {
    margin-top: 4px;
}
#register-main
    #register-main-content
    .ant-col
    .ant-form-item-control
    .ant-col-xs-24
    .ant-col-xs-offset-0
    .ant-col-sm-16
    .ant-col-sm-offset-8,
#register-main #register-main-content .css-dev-only-do-not-override-byeoj0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: none !important;
}
#register-main
    #register-main-content
    .ant-form-item-control-input-content
    .ant-btn {
    width: 100% !important;
    max-width: none !important;
}
#register-main #register-main-content .ant-form-item .css-byeoj0 {
    width: 100% !important;
    max-width: none !important;
}
#register-main
    #register-main-content
    .ant-form-item
    .css-byeoj0
    span.ant-checkbox {
    width: fit-content !important;
}

#register > div:nth-child(8) > div > div {
    margin-left: 0%;
}

#register > div:nth-child(7) > div > div {
    margin-left: 0%;
}

#register > div:nth-child(6) > div > div {
    margin-left: 0%;
}

#profile-settings-main {
    width: 100%;
    height: 100%;
    padding-bottom: 52px;
}
#profile-settings-main #profile-settings-main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 24px;
    width: 1200px;
    margin-left: 24px;
}
#profile-settings-main #profile-settings-main-content #profile-actions {
    width: 550px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0px 0px 8px 0px var(--color-light-black-25);
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#profile-settings-main
    #profile-settings-main-content
    #profile-actions
    #profile-actions-info {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    margin-top: 26px;
    margin-left: 26px;
}
#profile-settings-main
    #profile-settings-main-content
    #profile-actions
    #profile-actions-info
    #pars {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
#profile-settings-main
    #profile-settings-main-content
    #profile-actions
    #profile-actions-info
    #pars
    p {
    color: #949494;
    width: 100%;
    text-align: start;
    font-weight: 300;
    font-size: 15px;
    margin: 0px;
}
#profile-settings-main
    #profile-settings-main-content
    #profile-actions
    #profile-actions-info
    #spans {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
#profile-settings-main
    #profile-settings-main-content
    #profile-actions
    #profile-actions-info
    #spans
    span {
    color: var(--color-light-black-85);
    width: 100%;
    text-align: start;
    font-weight: 500;
    font-size: 15px;
    margin: 0px;
}
#profile-settings-main
    #profile-settings-main-content
    #profile-actions
    #profile-actions-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 110px;
    width: 150px;
    margin: auto;
    gap: 5px;
    margin-right: 26px;
    margin-bottom: 26px;
}
#profile-settings-main
    #profile-settings-main-content
    #profile-actions
    #profile-actions-buttons
    * {
    width: 150px;
}
#profile-settings-main
    #profile-settings-main-content
    #profile-actions
    #profile-actions-buttons
    *
    span {
    width: fit-content;
}
#profile-settings-main #profile-settings-main-content #user-categories {
    height: 600px;
    width: 550px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0px 0px 8px 0px var(--color-light-black-25);
}

#task-main {
    width: 100%;
    height: 100%;
    padding-bottom: 52px;
}
#task-main #task-main-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    margin-top: 24px;
    width: calc(100% - 24px);
    margin-left: 24px;
}

#loading-main {
    width: 100%;
    height: 100%;
    padding-bottom: 52px;
}
#loading-main #loading-main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    margin-top: 24px;
    width: calc(100% - 24px);
    margin-left: 24px;
}

#terms-main {
    width: 100%;
    height: 100%;
    padding-bottom: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#terms-main #terms-main-content {
    background-color: var(--color-gray);
    padding: 16px 24px;
    margin-top: 25px;
    text-align: left;
    width: 500px;
    height: 500px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
#terms-main #terms-main-content h2 {
    width: 100%;
    text-align: center;
}
#terms-main #terms-main-content div {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
}

/*# sourceMappingURL=pages.css.map */
