// --------------------------------------------------------------
// All Pages SCSS.
// --------------------------------------------------------------

#home-body,
#calendar-body,
#search-body,
#profile-settings-body,
#login-body,
#not-found-body,
#register-body,
#forgot-password-body,
#task-body,
#loading-body,
#terms-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    #home-content,
    #calendar-content,
    #search-content,
    #profile-settings-content,
    #login-content,
    #not-found-content,
    #register-content,
    #forgot-password-content,
    #task-content,
    #loading-content,
    #terms-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }
}

.hovered {
    transition: height 0.3s ease;
}

.show-filter-container {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.hide-filter-container {
    transform: translateX(-266px);
    -webkit-transform: translateX(-266px);
    -moz-transform: translateX(-266px);
    -ms-transform: translateX(-266px);
    -o-transform: translateX(-266px);
}

// --------------------------------------------------------------
// Home SCSS.
// --------------------------------------------------------------

#home-main {
    width: 100%;
    height: 100%;
    padding-bottom: 52px;
    #home-main-content {
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        width: calc(100% - 24px);
        margin-left: 24px;
        transition: transform 0.3s ease-in-out;
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        -moz-transition: -moz-transform 0.3s ease-in-out;
        -ms-transition: -ms-transform 0.3s ease-in-out;
        -o-transition: -o-transform 0.3s ease-in-out;
        transform-origin: left center;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -ms-transform-origin: left center;
        -o-transform-origin: left center;
        #columns-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            width: calc(100% - 24px);
            gap: 24px;
            .column {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                padding: 12px 16px;
                width: 290px;
                gap: 10px;
                max-height: 700px;
                height: 700px;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
                min-height: 700px;
                transition: height 0.3s ease-in-out;
                -webkit-transition: height 0.3s ease-in-out;
                -moz-transition: height 0.3s ease-in-out;
                -ms-transition: height 0.3s ease-in-out;
                -o-transition: height 0.3s ease-in-out;
                background-color: var(--color-light-gray);
                .cards-status {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 260px;
                    .image-container {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;
                        img {
                            cursor: pointer;
                        }
                    }
                    p {
                        margin: 0%;
                        font-size: 16px;
                        font-weight: 500;
                        color: #000;
                    }
                }
                .cards {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    gap: 24px;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    -ms-overflow-style: none;
                    scrollbar-width: none;
                }
            }
        }
    }
}

// --------------------------------------------------------------
// Search SCSS.
// --------------------------------------------------------------

#search-main {
    width: 100%;
    height: 100%;
    padding-bottom: 52px;
    #search-main-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        margin-top: 24px;
        width: calc(100% - 24px);
        margin-left: 24px;
        transition: transform 0.3s ease-in-out;
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        -moz-transition: -moz-transform 0.3s ease-in-out;
        -ms-transition: -ms-transform 0.3s ease-in-out;
        -o-transition: -o-transform 0.3s ease-in-out;
        transform-origin: left center;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -ms-transform-origin: left center;
        -o-transform-origin: left center;
        #result-items {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, 260px);
            grid-template-rows: repeat(auto-fill, 1fr);
            grid-gap: 24px;
        }
    }
}

.show-filter-container-srch {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.hide-filter-container-srch {
    transform: translateX(-266px);
    -webkit-transform: translateX(-266px);
    -moz-transform: translateX(-266px);
    -ms-transform: translateX(-266px);
    -o-transform: translateX(-266px);
}

// --------------------------------------------------------------
// Not Found SCSS.
// --------------------------------------------------------------

#not-found-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #not-found-main-content {
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        h2 {
            font-size: 24px;
            font-weight: 500;
            color: var(--color-light-black-85);
            margin: 0%;
            margin-top: 52px;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            color: var(--color-light-black-45);
            margin: 0%;
            width: 300px;
            text-align: center;
        }
    }
}

// --------------------------------------------------------------
// Login SCSS.
// --------------------------------------------------------------

#login-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #login-main-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form {
            box-shadow: 0 4px 12px var(--color-blue);
            border: 1px solid var(--color-blue);
            padding: 24px;
            width: fit-content;
            box-sizing: border-box;
            min-width: 500px;
            margin-top: 50px;
            background-color: white;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
        }
        .ant-form-item-control-input input:-webkit-autofill,
        .ant-form-item-control-input input:-webkit-autofill:hover,
        .ant-form-item-control-input input:-webkit-autofill:focus {
            -webkit-text-fill-color: #000 !important;
            transition: background-color 5000s ease-in-out 0s;
        }
    }
    .login-form-forgot {
        float: right;
    }
    .ant-col-rtl .login-form-forgot {
        float: left;
    }
    .login-form-button {
        width: 100% !important;
        margin-bottom: 14px;
    }
    .ant-divider.css-dev-only-do-not-override-byeoj0.ant-divider-horizontal.ant-divider-with-text.ant-divider-with-text-center {
        margin-top: 0% !important;
    }
}

// --------------------------------------------------------------
// Forgot Password SCSS.
// --------------------------------------------------------------

#forgot-password-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #forgot-password-main-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form {
            box-shadow: 0 4px 12px var(--color-blue);
            border: 1px solid var(--color-blue);
            padding: 24px;
            width: fit-content;
            box-sizing: border-box;
            min-width: 500px;
            margin-top: 50px;
            background-color: white;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            #forgot-back-login-container {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                #forgot-back-login {
                    cursor: pointer;
                    width: fit-content;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    p {
                        margin-left: 8px;
                    }
                }
            }
        }
        .ant-form-item-control-input input:-webkit-autofill,
        .ant-form-item-control-input input:-webkit-autofill:hover,
        .ant-form-item-control-input input:-webkit-autofill:focus {
            -webkit-text-fill-color: #000 !important;
            transition: background-color 5000s ease-in-out 0s;
        }
    }
    .ant-col-rtl .login-form-forgot {
        float: left;
    }
    .forgot-password-form-button {
        width: 100% !important;
        margin-bottom: 14px;
    }
    .ant-divider.css-dev-only-do-not-override-byeoj0.ant-divider-horizontal.ant-divider-with-text.ant-divider-with-text-center {
        margin-top: 0% !important;
    }
}

// --------------------------------------------------------------
// Register SCSS.
// --------------------------------------------------------------

#register-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #register-main-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form {
            box-shadow: 0 4px 12px var(--color-blue);
            border: 1px solid var(--color-blue);
            padding: 24px;
            width: fit-content;
            box-sizing: border-box;
            min-width: 500px;
            margin-top: 50px;
            background-color: white;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h2 {
                width: 100%;
                text-align: center;
            }
        }
        .ant-form-item-control-input input:-webkit-autofill,
        .ant-form-item-control-input input:-webkit-autofill:hover,
        .ant-form-item-control-input input:-webkit-autofill:focus {
            -webkit-text-fill-color: #000 !important;
            transition: background-color 5000s ease-in-out 0s;
        }
        .ant-form-item {
            margin-bottom: 16px;
            width: 100% !important;
        }

        .ant-form-item-label {
            text-align: left;
        }

        .ant-form-item-control-input {
            width: 100% !important;
        }

        .ant-form-item-explain {
            margin-top: 4px;
        }

        .ant-col
            .ant-form-item-control
            .ant-col-xs-24
            .ant-col-xs-offset-0
            .ant-col-sm-16
            .ant-col-sm-offset-8,
        .css-dev-only-do-not-override-byeoj0 {
            margin-left: 0 !important;
            margin-right: 0 !important;
            max-width: none !important;
        }
        .ant-form-item-control-input-content .ant-btn {
            width: 100% !important;
            max-width: none !important;
        }
        .ant-form-item .css-byeoj0 {
            width: 100% !important;
            max-width: none !important;
        }
        .ant-form-item .css-byeoj0 span.ant-checkbox {
            width: fit-content !important;
        }
    }
}

#register > div:nth-child(8) > div > div {
    margin-left: 0%;
}
#register > div:nth-child(7) > div > div {
    margin-left: 0%;
}
#register > div:nth-child(6) > div > div {
    margin-left: 0%;
}

// --------------------------------------------------------------
// Profile Settings SCSS.
// --------------------------------------------------------------

#profile-settings-main {
    width: 100%;
    height: 100%;
    padding-bottom: 52px;
    #profile-settings-main-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 24px;
        width: calc(100% - 24px);
        gap: 26px;
        #profile-actions {
            width: 550px;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            box-shadow: 0px 0px 8px 0px var(--color-light-black-25);
            height: 345px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            #profile-actions-info {
                height: fit-content;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 14px;
                margin-top: 26px;
                margin-left: 26px;
                #pars {
                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 18px;
                    p {
                        color: #949494;
                        width: 100%;
                        text-align: start;
                        font-weight: 300;
                        font-size: 15px;
                        margin: 0px;
                        height: 32px;
                    }
                }
                #spans {
                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 18px;
                    span {
                        color: var(--color-light-black-85);
                        width: 100%;
                        text-align: start;
                        font-weight: 500;
                        font-size: 15px;
                        margin: 0px;
                        height: 32px;
                    }
                    .ant-input {
                        box-sizing: border-box;
                        width: 400px;
                    }
                }
            }
            #profile-actions-buttons {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                height: 110px;
                width: 150px;
                margin: auto;
                gap: 5px;
                margin-right: 26px;
                margin-bottom: 26px;
                * {
                    width: 150px;
                    span {
                        width: fit-content;
                    }
                }
            }
        }
        #user-categories {
            height: 685px;
            width: 550px;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            box-shadow: 0px 0px 8px 0px var(--color-light-black-25);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .ant-skeleton {
                padding: 12px;
                display: flex !important;
                justify-content: center !important;
            }
            h2 {
                width: fit-content;
                text-align: start;
            }
            button {
                margin-left: auto;
                margin-right: 24px;
                margin-top: 24px;
            }
            #new-cat-input {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 24px;
                opacity: 0;
                transition: opacity 200ms ease-in-out;
                -webkit-transition: opacity 200ms ease-in-out;
                -moz-transition: opacity 200ms ease-in-out;
                -ms-transition: opacity 200ms ease-in-out;
                -o-transition: opacity 200ms ease-in-out;
                &.show-input {
                    opacity: 1 !important;
                }
                #new-cat-buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    button {
                        margin-right: auto;
                        margin-top: 12px;
                        width: 150px;
                    }
                }
            }
        }
    }
}

#change-password {
    margin-top: 22px;
}

#validation-msg {
    user-select: none;
}

.list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    svg {
        cursor: pointer;
    }
}

#all-categories {
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 55%;
}

#user-categories > span {
    margin-top: 24px !important;
}

// --------------------------------------------------------------
// Task SCSS.
// --------------------------------------------------------------

#task-main {
    width: 100%;
    height: 100%;
    padding-bottom: 52px;
    #task-main-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        margin-top: 24px;
        width: calc(100% - 24px);
        margin-left: 24px;
    }
}

// --------------------------------------------------------------
// Loading SCSS.
// --------------------------------------------------------------

#loading-main {
    width: 100%;
    height: 100%;
    padding-bottom: 52px;
    #loading-main-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        margin-top: 24px;
        width: calc(100% - 24px);
        margin-left: 24px;
    }
}

// --------------------------------------------------------------
// Loading SCSS.
// --------------------------------------------------------------

#terms-main {
    width: 100%;
    height: 100%;
    padding-bottom: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    #terms-main-content {
        background-color: var(--color-gray);
        padding: 16px 24px;
        margin-top: 25px;
        h2 {
            width: 100%;
            text-align: center;
        }
        div {
            width: 100% !important;
            display: flex !important;
            flex-direction: row !important;
            justify-content: center !important;
        }
        text-align: left;
        width: 500px;
        height: 500px;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }
}

// --------------------------------------------------------------
// Calendar Page.
// --------------------------------------------------------------

#calendar-main {
    width: 100%;
    height: 100%;
    padding-bottom: 52px;
    #calendar-main-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        .calendar-item {
            padding: 16px;
            margin-top: 24px;
            width: 1000px;
            height: fit-content;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            box-shadow: 0px 0px 10px 2px var(--color-light-black-25);
            .ant-badge-status-text {
                font-size: 12px;
            }
        }
    }
}

.events {
    padding-left: 20px;
}

.task-list-item.li-default::marker {
    color: var(--color-blue) !important;
}

.task-list-item.li-low::marker {
    color: var(--color-green) !important;
}

.task-list-item.li-medium::marker {
    color: var(--color-yellow) !important;
}

.task-list-item.li-high::marker {
    color: var(--color-red) !important;
}

.ant-radio-group {
    display: none;
}
