@import 'variables';

// --------------------------------------------------------------
// All Pages SCSS.
// --------------------------------------------------------------

#home-body,
#placeholder-body,
#search-body,
#profile-settings-body,
#login-body,
#not-found-body,
#register-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    #home-content,
    #placeholder-content,
    #search-content,
    #profile-settings-content,
    #login-content,
    #not-found-content,
    #register-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }
    #placeholder-main {
        width: 100%;
        height: 100%;
        padding-bottom: 52px;
    }
}

.hovered {
    transition: height 0.3s ease;
}

.show-filter-container {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.hide-filter-container {
    transform: translateX(-266px);
    -webkit-transform: translateX(-266px);
    -moz-transform: translateX(-266px);
    -ms-transform: translateX(-266px);
    -o-transform: translateX(-266px);
}

// --------------------------------------------------------------
// Home SCSS.
// --------------------------------------------------------------

#home-main {
    width: 100%;
    height: 100%;
    padding-bottom: 52px;
    #home-main-content {
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        width: calc(100% - 24px);
        margin-left: 24px;
        transition: transform 0.3s ease-in-out;
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        -moz-transition: -moz-transform 0.3s ease-in-out;
        -ms-transition: -ms-transform 0.3s ease-in-out;
        -o-transition: -o-transform 0.3s ease-in-out;
        transform-origin: left center;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -ms-transform-origin: left center;
        -o-transform-origin: left center;
        .column {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 12px 16px;
            width: 290px;
            gap: 10px;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            height: 700px;
            max-height: 700px;
            transition: height 0.3s ease-in-out;
            -webkit-transition: height 0.3s ease-in-out;
            -moz-transition: height 0.3s ease-in-out;
            -ms-transition: height 0.3s ease-in-out;
            -o-transition: height 0.3s ease-in-out;
            background-color: var(--color-light-gray);
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;
            scrollbar-width: none;
            .cards-status {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 260px;
                .image-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    img {
                        cursor: pointer;
                    }
                }
                p {
                    margin: 0%;
                    font-size: 16px;
                    font-weight: 500;
                    color: #000;
                }
            }
            .cards {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 100%;
                gap: 24px;
            }
        }
    }
}

// --------------------------------------------------------------
// Search SCSS.
// --------------------------------------------------------------

#search-main {
    width: 100%;
    height: 100%;
    padding-bottom: 52px;
    #search-main-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        margin-top: 24px;
        width: calc(100% - 24px);
        margin-left: 24px;
        transition: transform 0.3s ease-in-out;
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        -moz-transition: -moz-transform 0.3s ease-in-out;
        -ms-transition: -ms-transform 0.3s ease-in-out;
        -o-transition: -o-transform 0.3s ease-in-out;
        transform-origin: left center;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -ms-transform-origin: left center;
        -o-transform-origin: left center;
        #result-items {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, 260px);
            grid-template-rows: repeat(auto-fill, 1fr);
            grid-gap: 24px;
        }
    }
}

.show-filter-container-srch {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.hide-filter-container-srch {
    transform: translateX(-266px);
    -webkit-transform: translateX(-266px);
    -moz-transform: translateX(-266px);
    -ms-transform: translateX(-266px);
    -o-transform: translateX(-266px);
}

// --------------------------------------------------------------
// Not Found SCSS.
// --------------------------------------------------------------

#not-found-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #not-found-main-content {
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        h2 {
            font-size: 24px;
            font-weight: 500;
            color: var(--color-light-black-85);
            margin: 0%;
            margin-top: 52px;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            color: var(--color-light-black-45);
            margin: 0%;
            width: 300px;
            text-align: center;
        }
    }
}

// --------------------------------------------------------------
// Login SCSS.
// --------------------------------------------------------------

#login-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #login-main-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form {
            box-shadow: 0 4px 12px var(--color-blue);
            border: 1px solid var(--color-blue);
            padding: 24px;
            width: fit-content;
            box-sizing: border-box;
            min-width: 500px;
            margin-top: 50px;
            background-color: white;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
        }
        .ant-form-item-control-input input:-webkit-autofill,
        .ant-form-item-control-input input:-webkit-autofill:hover,
        .ant-form-item-control-input input:-webkit-autofill:focus {
            -webkit-text-fill-color: #000 !important;
            transition: background-color 5000s ease-in-out 0s;
        }
    }
    .login-form-forgot {
        float: right;
    }
    .ant-col-rtl .login-form-forgot {
        float: left;
    }
    .login-form-button {
        width: 100% !important;
        margin-bottom: 14px;
    }
    .ant-divider.css-dev-only-do-not-override-byeoj0.ant-divider-horizontal.ant-divider-with-text.ant-divider-with-text-center {
        margin-top: 0% !important;
    }
    #login-btn-container {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        button {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &:nth-child(1) {
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
            &:nth-child(2) {
                svg {
                    width: 16px;
                    height: 16px;
                    color: white;
                }
            }
        }
    }
}

// --------------------------------------------------------------
// Register SCSS.
// --------------------------------------------------------------

#register-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #register-main-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form {
            box-shadow: 0 4px 12px var(--color-blue);
            border: 1px solid var(--color-blue);
            padding: 24px;
            width: fit-content;
            box-sizing: border-box;
            min-width: 500px;
            margin-top: 50px;
            background-color: white;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
        }
        .ant-form-item-control-input input:-webkit-autofill,
        .ant-form-item-control-input input:-webkit-autofill:hover,
        .ant-form-item-control-input input:-webkit-autofill:focus {
            -webkit-text-fill-color: #000 !important;
            transition: background-color 5000s ease-in-out 0s;
        }
        .ant-form-item {
            margin-bottom: 16px;
        }

        .ant-form-item-label {
            text-align: left;
        }

        .ant-form-item-control-input {
            width: 100% !important;
        }

        .ant-form-item-explain {
            margin-top: 4px;
        }

        .ant-col
            .ant-form-item-control
            .ant-col-xs-24
            .ant-col-xs-offset-0
            .ant-col-sm-16
            .ant-col-sm-offset-8,
        .css-dev-only-do-not-override-byeoj0 {
            margin-left: 0 !important;
            margin-right: 0 !important;
            max-width: none !important;
        }
        .ant-form-item-control-input-content .ant-btn {
            width: 100% !important;
            max-width: none !important;
        }
    }
}

// --------------------------------------------------------------
// Profile Settings SCSS.
// --------------------------------------------------------------

#profile-settings-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #profile-settings-main-content {
    }
}
