// --------------------------------------------------------------
// Variables SCSS.
// --------------------------------------------------------------

$color-blue: #1890ff;
$color-green: #a0d911;
$color-yellow: #fadb14;
$color-red: #f5222d;
$color-gray: #d9d9d9;
$color-light-gray: #f0f0f0;
$color-light-black-85: rgba(0, 0, 0, 0.85);
$color-light-black-45: rgba(0, 0, 0, 0.45);
$color-light-black-25: rgba(0, 0, 0, 0.25);
$color-background: #fafafa;
